.drip-ui-menu {
	background: #DA4453;
	overflow: hidden;
	padding: 0 10%;
	ul{
		height: 50px;
		line-height: 50px;
		float: right;
		li{
			float: left;
			a {
				color: #fff;
				text-decoration: none;
				padding: 18px 15px;
				font-size: 15px;
				letter-spacing: 2px;
				font-family: Arial,sans-serif;
				&:hover {
					background: #cc3040;
				}
			}
		}
			
	}
}

@media only screen and (min-width : 375px) and (max-width : 768px) {
	.drip-ui-menu {
		padding: 0 4%;
	}		
}